@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 1.05rem;
}

@media only screen and (max-width: 600px) {
   body {
      height: auto;
      width: 100vw;
      background-image: url(./images/fondo.png);
      background-size: cover;
      background-repeat: no-repeat;
   }
   
   #logo{
      display: block;
      margin: auto;
      margin-top: 200px;
      width: 305px;
      height: 300px;
   }

   #buttonRegister {
      display: block;
      width: 296px;
      height: 44px;
      color: #000000;
      background: #FEBC00;
      font-size: 16px;
      text-align: center;
      border-style: none;
      border-radius: 50px;
      margin: auto;
      margin-top: 70px;
   }
   
   #buttonLogin {
      display: block;
      width: 296px;
      height: 44px;
      color: #000000;
      background: #FD7100;
      font-size: 16px;
      text-align: center;
      border-style: none;
      border-radius: 50px;
      margin: auto;
      margin-top: 30px;
   } 

   #logo-small {
      display: block;
      width: 166px;
      height: 163px;
      margin: auto;
      margin-top: 98px;
   }

   form {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   label {
      align-items: left;
      color: white;
      display: block;
      width: 296px;
      padding-bottom: 5px;
   }

   .input {
      width: 296px;
      height: 44px;
      border-style: none;
      border-radius: 50px;
      opacity: 0.7;
      display: block;
      padding: 10px;
      margin: 10px;
   }

   #submitRegister {
      width: 296px;
      height: 44px;
      display: flex;
      justify-content: center;
      background: #FEBC00;
      color: #000000;
      font-size: 16px;
      line-height: 22px;
      margin-top: 50px;
      border-style: none;
      border-radius: 50px;
   }

   .message1{
      color: red;
   }
   
   #txt-continue{
      color: white;
      margin: 10px;
   }

   #container-btns {
      margin-top: 38px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #white-btns1 {
      background-image: url(./images/google.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 20px;
   }

   #white-btns2 {
      background-image: url(./images/github.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 20px;
   }

   #white-btns3 {
      background-image: url(./images/gorjeo.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 20px;
      }
   .white-btns{
      margin: 5px;
      width: 212px;
      height: 44px;
      border-style: none;
      border-radius: 50px;
      font-family: 'Roboto', sans-serif;
      
   }

   /*#logo-google{
      width: 18px;
      height: 18px;
      display: flex;
      align-items: flex-start;
      vertical-align: middle;
   }*/

   
   }
   
   
 




@media only screen and (min-width:1281px) {}