@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 1.05rem;
}

@media only screen and (max-width: 600px) {
   body{
      height: auto;
      width: 100vw;
      background-image: url(./images/fondo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
   }
   
   #logo {
      display: block;
      margin: auto;
      margin-top: 200px;
      width: 305px;
      height: 300px;
   }

   #buttonRegister {
      display: block;
      width: 296px;
      height: 44px;
      color: #000000;
      background: #FD7100;
      font-size: 16px;
      text-align: center;
      border-style: none;
      border-radius: 50px;
      margin: auto;
      margin-top: 30px;
   }
   
   #buttonLogin {
      display: block;
      width: 296px;
      height: 44px;
      color: #000000;
      background:  #FEBC00;
      font-size: 16px;
      text-align: center;
      border-style: none;
      border-radius: 50px;
      margin: auto;
      margin-top: 70px;
   } 

   #logo-small {
      display: block;
      width: 166px;
      height: 163px;
      margin: auto;
      margin-top: 98px;
   }

   form {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   label {
      align-items: left;
      color: white;
      display: block;
      width: 296px;
      padding-bottom: 5px;
   }

   .input-register {
      width: 296px;
      height: 44px;
      border-style: none;
      border-radius: 50px;
      opacity: 0.7;
      display: block;
      padding: 10px;
      margin: 10px;
   }

   #submitRegister {
      width: 296px;
      height: 44px;
      display: flex;
      justify-content: center;
      background: #FEBC00;
      color: #000000;
      font-size: 16px;
      line-height: 22px;
      margin-top: 50px;
      border-style: none;
      border-radius: 50px;
   }

   .message-error{
      color: red;
   }
   
   #txt-continue{
      color: white;
      margin: 10px;
   }

   #container-btns {
      margin-top: 38px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #white-btns1 {
      background-image: url(./images/google.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 20px;
   }

   #white-btns2 {
      background-image: url(./images/github.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 20px;
   }

   #white-btns3 {
      background-image: url(./images/gorjeo.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: 20px;
      }
   .white-btns{
      margin: 5px;
      width: 212px;
      height: 44px;
      border-style: none;
      border-radius: 50px;
      font-family: 'Roboto', sans-serif;
   }

   h2{
      color:white;
      text-align: center;
      font-size: 40px;
      margin-top: 50px;
   }

   .section-feed {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

   }
   .textPost {
      width: 352px;
      height: 69px;
      margin-top: 35px;
      border-radius: 8px;
      text-align: center;
   }

   #button-post {
      position: relative;
      background-image: url(./images/icono-eviar.png);
      background-color: #FEBC00;
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }

   .button-image {
      position: absolute;

   }

   #container-all-post{
      width: auto;
      height: auto;
      margin-bottom: 100px;

   }
   .containerPost{
      width: 352px;
      height: auto;
      margin-top: 15px;
      background-color: rgba(255, 251, 251, 0.7);
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: justify;
      padding: 15px;
   }

   .label-user-post{
      width: 352px;
      display: flex;
      justify-content: right;
      color: white;
      font-size: 0.85rem;
   }
   
   nav{
      width: 100vw;
      height: 69px;
      background:rgba(18, 18, 18, 1);
      display: flex;
      position: fixed;
      bottom: 0;
   }   

   .userEmail {
      color: aliceblue;
      align-self: center;
      display: block;
   }

   #iconLogout{
      width: 70px;
   }

   #i-home{
      width: 70px;
   }

   .icons-edit {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: flex-end ;
   }

   #alert-confirm {
      width: 300px;
      height: 140px;
      margin: auto;
      padding: 6px;
      background-color:rgba(18, 18, 18, 0.97);
      border-radius: 8px;
      border-style: none;
   }

   #text-confirm{
      font-size: 24px;
      font-weight: normal ;
      color: #FEBC00;
   }

   #paragraph-delete {
      font-size: 15px;
      margin: 10px;
      color: aliceblue;
   }

   #container-delete {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }

   #btn-confirm{
      background-color: #FD7100;
      width: 90px;
      border-radius: 50px;
      border-style: none;
      color: #ffffff;
      font-weight: lighter;
   }

   #btn-cancel {
      background-color: #595858 ;
      width: 90px;
      border-style: none;
      border-radius: 50px;
      color: #ffffff;
      font-weight: lighter;
   }

   #edit-dialog {
      width: 300px;
      height: 140px;
      margin: auto;
      padding: 10px;
      align-content: center;
      background-color:rgba(18, 18, 18, 0.97);
      border-radius: 8px;
      border-style: none;
   }

   #container-edit-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }
   
   #submit-edit{
      background-color: #FEBC00;
      width: 90px;
      border-radius: 50px;
      border-style: none;
      color: #000000;
      font-weight: lighter;
   }

   #btn-cancel-edit {
      background-color: #595858 ;
      width: 90px;
      height: 20px;
      border-style: none;
      border-radius: 50px;
      color: #000000;
      font-weight: lighter;
   }

   #edit-text-post{
      width: 200px;
      height: 80px;
      border-radius: 8px;
      margin: 10px;
   }

   ::backdrop{
      background-color:  rgba(82, 79, 79, 0.75)
   }

/*}
   

 




@media only screen and (min-width:1281px) {}